<% include ../partials/header %>

<div class="container mt-5 mb-3">
    <div class="row" style="margin-top: 75px;">

        <div class="col-md-3 mb-4">
            <div class="lead mb-3">CROWD FUNDING</div>
            <div class="list-group">
                <a href="/invest/<%= fund._id %>" class="list-group-item btn btn-outline-primary">Invest</a>
                <p>Current: <%= fund.current%></p>
                <p>Goal: <%= fund.goal%>                
            </div>
            
        </div>
        <div class="col-md-9">
            <div class="card mb-4">
                <%fund.images.forEach(image=>{%>
                    <img class="card-img-top" src="<%=image%>">
                <% });%>
                <div class="card-body">
                    <div class="card-title">
                        <a href="#" class="heading-3 a-hover"><%=fund.title %></a>
                    </div>
                    <p class="card-text" style="text-align: justify"><%= fund.summary %></p>
                    <span class="text-danger"><%=fund.likes %> likes</span>
                    <span class="float-right text-danger"><%= fund.reviews.length %> Reviews</span>
                    <div>- <em><%= fund.student.name %></em></div>
                </div>
            </div>
            
            <div class="jumbotron">
                <a href="/fundraiser/<%=fund._id %>/new_review" class="btn btn-outline-success float-right btn">Leave a Review </a>
                <div class="mt-lg">
                    <% fund.reviews.forEach(review => { %>
                        <div class="review-container mt-5">
                        
                            <p class="text-review">
                                <%= review.text %>
                            </p>
                            <p class="likes-review">
                                Likes <strong><%= review.likes %></strong>
                            </p>
                        </div>
                        <% if(user &&  review.email===(user.email)){ %>
                            <a class="btn pl-4 pr-4 btn-outline-secondary btn-sm" href="/fundraiser/<%=fund._id %>/<%=review._id%>/edit">Edit</a>
                            <form id="delete" action="/fundraiser/<%=fund._id %>/<%=review._id%>/?_method=DELETE" method="POST">
                                <button type="submit" class="btn pl-4 pr-4 btn-outline-danger btn-sm">Delete</button>
                            </form>
                        <% } %>
                        <hr>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>